html {
  box-sizing: border-box;
}

body {
  color: rgb(78, 76, 76);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1rem;
}
header {
  margin: 0;
  background-color: #444;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
  }
}

main {
  padding: 0.5em;
}

.category-name {
  margin-left: 50px;
}

.book-card {
  color: #aaa;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 20px 3px rgba(151, 127, 127, 0.2);
  margin: 10px 15px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  flex: 0 0 20vw;
  &:hover {
    box-shadow: 4px 4px 10px 3px rgba(8, 8, 8, 0.2);
    transition: box-shadow 0.4s ease;
  }
}

.book-image-wrapper {
  // background-image: ;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: '';
  }
}
.book-image-wrapper::before {
  content: '';
  border-width: 10px 8px 8px 0;
  border-style: solid;
  border-color: transparent #222 transparent transparent;
  top: 50%;
  right: -0.8%;
  opacity: 0;
}

.book-image-wrapper::after {
  content: attr(book-description);
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-50%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8s);
  opacity: 0;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.book-image-wrapper:hover::after,
.book-image-wrapper:hover::before {
  opacity: 1;
  transform: translateX(107%);
  transition: all ease 0.5s;
}
.book-image-wrapper img {
  width: 9rem;
  height: 100%;
  display: block;
  box-shadow: 0 2px 20px 2px rgba(143, 142, 142, 0.2);
}

.book-image-wrapper img:hover {
  box-shadow: 0 15px 20px -12px rgb(0, 0, 0);
  position: relative;
}

.book-details {
  width: 70%;
  margin-left: 5%;
}

.book-details:nth-child(3) {
  position: relative;
  bottom: 0;
}

.books-scroll-wrapper {
  display: flex;
  align-items: center;
}

.books-scroll {
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  height: 250px;
  overflow: scroll;
}

.arrow-button {
  height: 50px;
  width: 50px;
  margin: 0;
  border-radius: 50%;
  font-size: 1.9em;
  border: 1px solid #888;
  color: #888;
  background: #fff;

  &:hover {
    background: #eee;
  }
  &:focus {
    outline: none;
    border: 3px solid #888;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.9s linear, opacity 0.9s linear;
}

.center {
  text-align: center;
}

.books-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .book-card {
    flex: 0 0 85vw;
  }

  .books-scroll-wrapper {
    button {
      display: none;
    }
  }
  main {
    h2 {
      text-align: center;
    }
  }
  header {
    font-size: 3vw;
  }

  .category-name {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .book-card {
    flex: 0 0 40vw;
  }
}

@media only screen and (max-width: 979px) {
  .book-image-wrapper:hover::after {
    opacity: 1;
    transform: translateX(0);
    transition: all ease 0.5s;
  }

  .book-image-wrapper:hover::before {
    display: none;
  }
}
